<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <!-- Console Appender for Development -->
  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
    </layout>
  </appender>

  <!-- Rolling File Appender for All Logs -->
  <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="logs/mailledger.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline%exception" />
    </layout>
  </appender>

  <!-- Error File Appender for Errors Only -->
  <appender name="ErrorFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="logs/errors.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="5MB" />
    <staticLogFileName value="true" />
    <threshold value="ERROR" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline%exception" />
    </layout>
  </appender>

  <!-- JSON File Appender for Structured Logging -->
  <appender name="JsonFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="logs/mailledger-json.log" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="yyyyMMdd" />
    <staticLogFileName value="false" />
    <layout type="log4net.Layout.SerializedLayout, log4net.Ext.Json">
      <decorator type="log4net.Layout.Decorators.StandardTypesDecorator, log4net.Ext.Json" />
      <default />
      <remove value="ndc" />
      <remove value="message" />
      <member value="message:messageobject" />
    </layout>
  </appender>

  <!-- Database Appender for General Logs -->
  <appender name="GeneralLogAppender" type="log4net.Appender.AdoNetAppender">
    <bufferSize value="1" />
    <connectionType value="Npgsql.NpgsqlConnection, Npgsql" />
    <connectionStringName value="DefaultConnection" />
    <commandText value="INSERT INTO application_logs (timestamp, level, logger, message, exception, thread, user_id, machine_name) VALUES (@timestamp, @level, @logger, @message, @exception, @thread, @user_id, @machine_name)" />
    <parameter>
      <parameterName value="@timestamp" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.RawTimeStampLayout" />
    </parameter>
    <parameter>
      <parameterName value="@level" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@logger" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%logger" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@message" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@exception" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.ExceptionLayout" />
    </parameter>
    <parameter>
      <parameterName value="@thread" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%thread" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@user_id" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{user_id}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@machine_name" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{log4net:HostName}" />
      </layout>
    </parameter>
  </appender>

  <!-- Database Appender for Error Logs -->
  <appender name="ErrorLogAppender" type="log4net.Appender.AdoNetAppender">
    <bufferSize value="1" />
    <threshold value="ERROR" />
    <connectionType value="Npgsql.NpgsqlConnection, Npgsql" />
    <connectionStringName value="DefaultConnection" />
    <commandText value="INSERT INTO error_logs (timestamp, level, logger, message, exception, stack_trace, thread, user_id, machine_name, request_path, request_method) VALUES (@timestamp, @level, @logger, @message, @exception, @stack_trace, @thread, @user_id, @machine_name, @request_path, @request_method)" />
    <parameter>
      <parameterName value="@timestamp" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.RawTimeStampLayout" />
    </parameter>
    <parameter>
      <parameterName value="@level" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@logger" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%logger" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@message" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@exception" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.ExceptionLayout" />
    </parameter>
    <parameter>
      <parameterName value="@stack_trace" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%stacktrace" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@thread" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%thread" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@user_id" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{user_id}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@machine_name" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{log4net:HostName}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@request_path" />
      <dbType value="String" />
      <size value="500" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{request_path}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@request_method" />
      <dbType value="String" />
      <size value="10" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{request_method}" />
      </layout>
    </parameter>
  </appender>

  <!-- Database Appender for Audit Logs -->
  <appender name="AuditLogAppender" type="log4net.Appender.AdoNetAppender">
    <bufferSize value="1" />
    <connectionType value="Npgsql.NpgsqlConnection, Npgsql" />
    <connectionStringName value="DefaultConnection" />
    <commandText value="INSERT INTO audit_logs_table (timestamp, user_id, action, entity_type, entity_id, old_values, new_values, ip_address, user_agent) VALUES (@timestamp, @user_id, @action, @entity_type, @entity_id, @old_values, @new_values, @ip_address, @user_agent)" />
    <parameter>
      <parameterName value="@timestamp" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.RawTimeStampLayout" />
    </parameter>
    <parameter>
      <parameterName value="@user_id" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{user_id}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@action" />
      <dbType value="String" />
      <size value="100" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{action}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@entity_type" />
      <dbType value="String" />
      <size value="100" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{entity_type}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@entity_id" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{entity_id}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@old_values" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{old_values}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@new_values" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{new_values}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@ip_address" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{ip_address}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@user_agent" />
      <dbType value="String" />
      <size value="500" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{user_agent}" />
      </layout>
    </parameter>
  </appender>

  <!-- Root Logger -->
  <root>
    <level value="INFO" />
    <appender-ref ref="ConsoleAppender" />
    <appender-ref ref="GeneralLogAppender" />
    <appender-ref ref="ErrorLogAppender" />
  </root>

  <!-- Application-specific loggers -->
  <logger name="MainLedger">
    <level value="DEBUG" />
  </logger>

  <!-- Reduce noise from Entity Framework -->
  <logger name="Microsoft.EntityFrameworkCore">
    <level value="WARN" />
  </logger>

  <!-- Reduce noise from ASP.NET Core -->
  <logger name="Microsoft.AspNetCore">
    <level value="WARN" />
  </logger>

  <!-- Reduce noise from HTTP requests -->
  <logger name="Microsoft.AspNetCore.Hosting.Diagnostics">
    <level value="INFO" />
  </logger>
</log4net>
